// Colors

// Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
$dark-elements: hsl(209, 23%, 22%);
// Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
$dark-background: hsl(207, 26%, 17%);
// Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
$light-text: hsl(200, 15%, 8%);
// Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
$light-input: hsl(0, 0%, 52%);
// Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
$light-background: hsl(0, 0%, 98%);
// White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
$darktext-lightelements: hsl(0, 0%, 100%);


// others

$shadow-basic: -0 0 10px 5px rgb(226, 226, 226);
$shadow-card: -3px 3px 67px -16px rgb(38, 38, 38);

@mixin show-box($shadow-option) {
    -webkit-box-shadow:$shadow-option;
    -moz-box-shadow:$shadow-option;
    box-shadow: $shadow-option;
}

$table: 500px;
$table-mid:750px;
$view-plus:850px;

