@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import './_variables.scss';
@import './c_navbar.scss';
@import './c_homepage.scss';
@import './c_country_card_container.scss';
@import './detailpage.scss';

[data-theme="dark"]{
    --bg-color:hsl(207, 26%, 17%);
    --text-color-general:hsl(0, 0%, 100%);
    --input-color:hsl(0, 0%, 52%);
    --card-bg-color:hsl(209, 23%, 22%);
    --shadow-basic: -0 0 10px 5px hsl(208, 37%, 14%);
    --shadow-card: -3px 3px 67px -16px hsl(208, 44%, 13%);
}
[data-theme="light"]{
    --bg-color:hsl(0, 0%, 98%);
    --text-color-general:hsl(200, 15%, 8%);
    --input-color:hsl(0, 0%, 52%);
    --card-bg-color:hsl(0, 0%, 100%);
    --shadow-basic: -0 0 10px 5px rgb(226, 226, 226);
    --shadow-card: -3px 3px 67px -16px rgb(38, 38, 38);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: var(--text-color-general);
    background-color: var(--bg-color);
    transition: ease-in-out 0.5s;
}

html, body, #root, .App{
    height: 100vh;
}


img {
    width: 150px;
}

.icon{
    width: 35px;
    height: 35px;
}

.main-container{
    margin-top:20px;
    padding: 10px;
    height: auto;
}


